<!DOCTYPE html>
<html>
<head><title>Ebay Sandbox Tester</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
  <link href='{{ static_url("css/dropzone.css") }}' rel="stylesheet">
<style>
    .spacer { margin:0; padding:0; height:75px; }
</style>
</head>
<body>
<br/>


<div class="spacer"></div>
<div class="row">
  {% if Edit == True %}
    <h3 class="col-md-8 col-md-offset-2">Edit Product info : {{ItemID}}</h3>

  {% else %}
  <h3 class="col-md-8 col-md-offset-2">Enter Product info :</h3>

  {% end if %}
  </div>
<div class="row col-md-8 col-md-offset-2">
<form class="form-group" method="post" {% if Edit == True %} action='/editItem' {% else %} action="/addItem" {% end if %}>
  {% if Edit == True %}
  <input type="hidden" name="itemID" id="itemID" value="{{ItemID}}"/>
  {% end if %}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" id="inputTitle" name="inputTitle" placeholder="Title" {% if Edit == True %} value='{{ItemDetails["Title"]}}' {%end if%}>
    </div>
    <div class="form-group col-md-6">
      <label for="inputCondition">State</label>
      <select id="inputCondition" class="form-control" name="inputCondition">
        <option value="1000" selected>Brand New</option>
        <option value="3000">Used</option>
        <option value="4000">Very Good</option>
        <option value="3000">Good</option>
      </select>
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputDescription">Description</label>
    <input type="text" class="form-control" id="inputDescription" name="inputDescription" placeholder="describe the product" {% if Edit == True %} value='{{ItemDetails["Description"]}}' {%end if%}>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputListingType">Listing Type</label>
      <select id="inputListingType" name ="inputListingType" class="form-control">
        <option  selected>FixedPriceItem</option>
        <option >Auction</option>
        <option >Chinese</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPayPalEmailAddress">PayPal Email Address</label>
      <input type="email" class="form-control" id="inputPayPalEmailAddress" name="inputPayPalEmailAddress" {% if Edit == True %} value='{{ItemDetails["PayPalEmailAddress"]}}' {%else %} value="test@nowhere.com" {% end if %}>
    </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPrimaryCategory">PrimaryCategory</label>
      <select id="inputPrimaryCategory" name="inputPrimaryCategory" class="form-control">
        <option  value="377" selected>Books</option>
        <option value="20713">Fridges</option>
        <option >...</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputQuantity">Quantity</label>
      <input type="number" class="form-control" id="inputQuantity" name="inputQuantity" {% if Edit == True %} value='{{ItemDetails["PayPalEmailAddress"]}}' {%else %} value="1" {% end if %}>
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputManufacturer">Manufacturer</label>
      <input type="text" id="inputManufacturer" name="inputManufacturer" class="form-control" >

    </div>
    <div class="form-group col-md-6">
      <label for="inputBrand">Brand</label>
      <input type="text" class="form-control" id="inputBrand" name="inputBrand">
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPictureURL">Picture URL</label>
      <input type="text" id="inputPictureURL" name="inputPictureURL" class="form-control" >

    </div>
    <div class="form-group col-md-6">
      <label for="inputPictureName">Picture Name</label>
      <input type="text" class="form-control" id="inputPictureName" name="inputPictureName">
    </div>
    </div>

      <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputPrice">Start Price</label>
      <input type="text" id="inputPrice" name="inputPrice" class="form-control" {% if Edit == True %} value='{{ItemDetails["StartPrice"]["value"]}}' {%else %} value="0" {% end if %}>

    </div>
    <div class="form-group col-md-6">
      <label for="inputCurrency">Currency</label>
      <select id="inputCurrency" name="inputCurrency" class="form-control">
        <option  selected>USD</option>
        <option >AUD</option>
        <option >...</option>
      </select>
    </div>
    </div>
<div class="form-row">
    <div class="form-group col-md-6">
       <label for="shippingCost">Shipping Cost</label>
      <input type="text" id="shippingCost" name="shippingCost" class="form-control" {% if Edit == True %} value='{{ItemDetails["ShippingDetails"]["ShippingServiceOptions"]["ShippingServiceCost"]["value"]}}' {%else %} value="12.5" {% end if %}>
    </div>
  <div class="form-group col-md-6">
       <label for="shippingAdditionalCost">Shipping Additional Cost</label>
      <input type="text" id="shippingAdditionalCost" name="shippingAdditionalCost" class="form-control" value="0">
    </div>
</div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="freeShipping" name="freeShipping" value="True">
    <label class="form-check-label" for="freeShipping">Free Shipping!</label>
  </div>

  <div class="form-row">
  <button type="submit" class="btn btn-lg btn-success">List Item</button>
  </div>
</form>



<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/dropzone.min.js')}}"></script>
<script src="{{static_url('js/dropzone-amd-module.min.js')}}"></script>
</body>
</html>