<!DOCTYPE html>
<html>
<head><title>Ebay Sandbox Tester</title>
<link href='{{ static_url("css/bootstrap.css") }}' rel="stylesheet">
<link href='{{ static_url("css/bootstrap-theme.css") }}' rel="stylesheet">
  <link href='{{ static_url("css/dropzone.css") }}' rel="stylesheet">
<style>
    .spacer { margin:0; padding:0; height:75px; }
    .blackHead {color:#eee;background-color:#333}
</style>
</head>
<body>
<br/>

<div class="row">
<div class="row col-md-8 col-md-offset-2">
  <br/>
<a class="btn btn-warning" href="/addItem">List New Product</a>&nbsp;&nbsp;
<a class="btn btn-warning" href="https://my.sandbox.ebay.com/ws/eBayISAPI.dll?MyEbayBeta&gbh=1&CurrentPage=MyeBayAllSelling&ssPageName=STRK:ME:LNLK:MESX">View User Item List</a>
</div>
<div class="row col-md-8 col-md-offset-2">
    <h4>Items Listed on Ebay Sandbox by  <b>USER : </b>testuser_mojtaba <b>PASSWORD : </b>odiF2t11# : </h4>
<table class="table table-striped table-bordered">
 <thead class="blackHead">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Operations</th>
            </tr>
          </thead>
  <tbody>
  {% set cnt=1 %}
{% for Item in Items %}
        <tr>

          <td>{{ cnt  }}</td>
            <td>{{Item["ItemID"]}}</td>
            <td><a target="_blank" href='http://{{Item["ListingDetails"]["ViewItemURL"][7:]}}'>{{Item["Title"]}}</td>
          <td style="text-align:center"><a href='/deleteItem?ItemID={{Item["ItemID"]}}'><span class="glyphicon glyphicon-trash"></span></a><span class="glyphicon glyphicon-edit" style="margin-left:10px"></span><span class="glyphicon glyphicon-eye-open" style="margin-left:10px"></span></td>
        </tr>
  {% set cnt=cnt+1 %}
  {% end %}
  </tbody>
  </table>
</div>

<!--  <div class="row">-->
<!--  <h4 class="row col-md-8 col-md-offset-2"><b>to view list items use this credentials :  </b> testuser_mojtaba / odiF2t11#</h4>-->
<!--  </div>-->
<script src="{{static_url('js/jquery.js')}}"></script>
<script src="{{static_url('js/dropzone.min.js')}}"></script>
<script src="{{static_url('js/dropzone-amd-module.min.js')}}"></script>
</body>
</html>