<!DOCTYPE html>
<html>
<head>
    <meta name="robots" content="index, follow">

    <title>فودلیست</title>
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap.css')}}">-->
    <!--<link type="text/css" rel="stylesheet" href="{{static_url('css/bootstrap-theme.css')}}">-->
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="/static/css/fonts.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

        <div class="header_top" style="background: #1e2a3a">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="col-m-3 col-sm-5 pull-right">
                            <a href="/" style="padding: 0" class="logo img-responsive"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="margin-top: 190px;margin-bottom: 400px;">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <div class="r_box">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <p style="margin: 10px;color: #999999;font-size: 14pt">{{ message_title }}</p>
                            <p style="margin: 5px;color: #999999;font-size: 12pt">{{ message_text }}</p>
                            <p style="font-size: 9pt;color: #999999">در صورتی که به طور اتوماتیک به صفحه مورد نظر منتقل نشدید ، <a href="/">اینجا</a> را کلیک کنید.</p>
                        </div>
                    </div>
                </div>
            </div>




        </div>


        <div class="footer">
            <div></div>
        </div>




    <script src="/static/plugins/jquery/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    {% if time != 0 %}
    <script type="text/javascript">
        myvar = ""; timeout = {{ time }}*20;
		function exec_refresh()
		{
//			window.status="Redirecting ...\"+myvar; myvar = myvar + \" .\";
			timerID = setTimeout("exec_refresh();", 100);
			if (timeout > 0)
			{
                timeout -= 1;

            }else{
                clearTimeout(timerID);
                window.status=window.location='/';
            }
		}
		exec_refresh();
    </script>
    {% end %}

</body>
</html>